<div class="bg-white rounded-lg shadow-lg p-4 {{#if marginBottom}}mb-4{{/if}}">
    <div class="panel-header" id="{{headerId}}">
        <h2 class="text-xl font-semibold text-gray-700">{{title}}</h2>
        <button class="toggle-btn" data-target="#{{contentId}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </button>
    </div>
    <div id="{{contentId}}" data-toggle data-toggle-header="#{{headerId}}" data-toggle-initial="{{initialState}}">
        {{#if (eq contentPartial "config-form")}}
            {{> config-form}}
        {{else if (eq contentPartial "attach-form")}}
            {{> attach-form}}
        {{else if (eq contentPartial "grading-items")}}
            {{> grading-items}}
        {{else if (eq contentPartial "help-content")}}
            {{> help-content}}
        {{/if}}
    </div>
</div>
